<a id="upperMove"></a>
<div class="top">
  <nav class="head">
    <div id="prime">
      <a [routerLink]="['/']" fragment="upperMove">
        <div id="prime1">Resume</div>
        <div id="prime2">Landing</div>
      </a>
    </div>
    <a [routerLink]="['/']" fragment="skillsMove">
      <div class="navigation" id="nav2"> Skills</div>
    </a>
    <a [routerLink]="['/']" fragment="projectsMove">
      <div class="navigation" id="nav3"> Projects</div>
    </a>
    <a [routerLink]="['/']" fragment="aboutMove">
      <div class="navigation" id="nav1"> Education</div>
    </a>
    <a href="https://vk.com/artspiteful" target="_blank">
      <div id="nav4">
        <img src="assets/VK.png" id="imgNav1">
        <div class="navigation" id="VK">VKontakte</div>
      </div>
    </a>
    <a href="https://github.com/Gertykhan" target="_blank">
      <div id="nav5">
        <img src="assets/github.png" id="git" id="imgNav2">
        <div class="navigation">Github</div>
      </div>
    </a>
    <!--    <div id="butCell">-->
    <button (mousedown)="pressDecoration1()" (mouseup)="pressDecoration2()" [ngStyle]="{'top': topper}"
            (click)="press()" id="but">Contact me
    </button>
    <div @animationTriggerName *ngIf="tester" (mouseleave)="displayZero()" class="table">
      <div (mouseenter)="switchColor()" (mouseleave)="switchBack()" class="tableElement" id="tableElement1">
        <a [ngStyle]="{'color': table1Color}" href="tel:+79150032717" class="tableTxt"> +7 (915) 003-27-17</a>
      </div>
      <div id="uShallNotPass"></div>
      <div (mouseenter)="switchColor2()" (mouseleave)="switchBack2()" class="tableElement" id="tableElement2">
        <a [ngStyle]="{'color': table2Color}" href="mailto:bat.pak@mail.ru" class="tableTxt">bat.pak@mail.ru</a>
      </div>
    </div>
  </nav>
  <div class="Group2">
    <h1>Бобылев Артём Владимирович</h1>
    <div class="jobTitle">Frontend разработчик</div>
    <div class="number" id="acn3"> 3</div>
    <div class="achievement" id="acn4"> месяца работы в Информационной безопасности</div>
    <div class="number" id="acn1"> 22</div>
    <div class="achievement" id="acn2">Года жизни</div>
    <a href="https://t.me/Artspiteful" target="_blank" id="avatarLink"><img src="./assets/ivseenthis.jpg"
                                                                            alt="Моя фотография" id="avatar"></a>
    <div class="circle" id="circle1"></div>
    <div class="circle" id="circle2"></div>
    <div class="circle" id="circle3"></div>
  </div>
  <!--  todo сделать красивую анимацию для перехода-->
  <div class="Group1">
    <h3 id="dopDataTitle"> Дополнительные сведения:</h3>
    <p id="dataTitle">В школьные годы начал увлекаться программированием. Начинал с языков: QBasic, Pascal, позже
      самостоятельно изучал
      C++,
      в университете работал с языками C# и Java. В данный момент обучаюсь на цифровой кафедре по специальности
      «Web-разработчик»,
      где изучаю Python, Javascript. Всю жизнь активно занимался спортом: каратэ, капоэйро, бокс, где выступал на
      соревнованиях и занимал призовые места.
      В этот период приобрел как опыт работы в команде, так и навыки обучаемости новым профессиям. В 2021 г.,
      пройдя обучение в автошколе, получил водительские права класса «В».
      В 2021 году проходил практику, занимаясь организацией документации ФСТЭКа по системе Zettelcasten в программе
      Obsidian,
      также в 2022 году проходил практику, создавая нейросеть по распознаванию речи.</p>
  </div>
</div>
<a id="skillsMove"></a>
<div class="skills">
  <h3 id="skillsTitle"> Профессиональные навыки:</h3>
  <div class="images">
    <div class="skill"><img src="./assets/js.png" alt="JS"></div>
    <div class="skill"><img src="./assets/TS.png" alt="TS"></div>
    <div class="skill"><img src="./assets/NG.png" alt="NG"></div>
    <div class="skill"><img src="./assets/html.png" alt="HTML"></div>
    <div class="skill"><img src="./assets/css.png" alt="CSS"></div>
    <div class="skill"><img src="./assets/Pyth.png" alt="Python"></div>
    <div class="skill"><img src="./assets/C++.png" alt="C++"></div>
    <div class="skill"><img src="./assets/matlab.png" alt="matlab"></div>
    <!--    todo надписи снизу-->
  </div>
</div>
<a id="projectsMove"></a>
<section class="projects">
  <h3 id="projectsTitle">Проектные работы: </h3>
  <div class="slider-wrap">
    <div class="slider-main">
      <div class="slider-item">
        <img class="cat" src="./assets/cat1.jpg">
      </div>
      <div class="slider-item">
        <img class="cat" src="./assets/cat2.jpg">
      </div>
      <div class="slider-item">
        <img class="cat" src="./assets/cat3.jpg">
      </div>
      <div class="slider-item">
        <img class="cat" src="./assets/cat4.jpg">
      </div>
      <div class="slider-item">
        <img class="cat" src="./assets/cat5.jpg">
      </div>
      <div class="slider-item">
        <img class="cat" src="./assets/cat6.jpg">
      </div>
      <div class="button-area">
        <button type="button" class="prev">Left</button>
        <button type="button" class="next">Right</button>
      </div>
    </div>
  </div>
</section>
<!--todo надеюсь в будущем тут будут не коты -->
<a id="aboutMove"></a>
<div class="graduate">
  <h3 id="graduateTitle">Образование</h3>
  <div class="gradText" id="textTit1">
    <h5 id="tit1">Начальное образоание</h5>
    <p>
      С 2007 по 2018 год обучался в ГБОУ СОШ 1240 "Романовская школа",
      где впервые начал изучать языки программирования. Начиная с основ Pascal,
      заканчивая долнитльными курсами по C++.
    </p>
  </div>

  <div class="gradText" id="textTit2">
    <h5 id="tit2">Неполное высшее</h5>
    <p>
      2018-2025 МГТУ им. Н.Э.Баумана:
      - факультет: «Информационное управление».
      - специальность: «Информационная безопасность».
      - основными в настоящее время является следующие дисциплины:
      Теоретические основы технических разведок, информационно телекоммуникационные системы,
      Криптография, Радиотехника, Акустика.
    </p>
  </div>

  <div class="gradText" id="textTit3">
    <h5 id="tit3">Иностранные языки</h5>
    <p>
      Английский язык - уровень владения Upper Intermediate.
      А также владения французским языком на базовом уровне.
    </p>
  </div>

  <div class="gradText" id="textTit4">
    <h5 id="tit4">Военное образование</h5>
    <p>
      Слушатель программы военной подготовки офицеров запаса на кафедре № 5
      (751100 «Защита информационных технологий»).
    </p>
  </div>
  <div class="Line"></div>
  <div class="superCircle" id="superCircle1"></div>
  <div class="superCircle" id="superCircle2"></div>
  <div class="superCircle" id="superCircle3"></div>
  <div class="superCircle" id="superCircle4"></div>
</div>
