h1 {
  color: #70FF00;

  position: relative;
  width: 349px;
  height: 182px;
  left: 146px;
  top: 350px;
  margin: 0;
  display: inline-block;

  font-size: 66px;
  line-height: 82px;
  letter-spacing: 0.07em;
}

h3 {
  color: #70FF00;
}

h5 {
  color: #70FF00;
}

a {
  text-decoration: none;
  color: #FFFFFF
}

a:hover {
  text-decoration: underline;
  color: #828282;
}
.head{
  position: fixed;
  display: inline-block;
  width: 100%;
  max-width: 1900px;
  height: 55px;
  z-index: 100;
  background: linear-gradient(130.36deg, #000000 0%, #1f1f1f 44.03%, #3a3a3a 100%);
  border-bottom: 2px solid white;
}
#prime1{
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #828282;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;

  left: 100px;
  cursor: pointer;
}
#prime2{
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  left: 106px;
  cursor: pointer;
}
#prime{
  position: relative;
  display: inline-block;
}
#prime:hover{
  opacity: 0.8;
}
.navigation{
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;

  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  display: inline-block;
  top: -10px;
}
#nav1{
  left: 500px;
}
#nav1:hover{
  opacity: 0.8;
}
#nav2{
  left: 300px;
}
#nav2:hover{
  opacity: 0.8;
}
#nav3{
  left: 400px;
}
#nav3:hover{
  opacity: 0.8;
}
#nav4{
  cursor: pointer;
  position: relative;
  display: inline-block;
  left: 580px;
}
#nav4:hover{
  opacity: 0.8;
}
#nav5{
  cursor: pointer;
  position: relative;
  display: inline-block;
  left: 650px;
}
#nav5:hover{
  opacity: 0.8;
}
#imgNav1{
  position: relative;
  width: 30px;
  top: -5px;
}
#imgNav2{
  position: relative;
  width: 45px;
  filter: invert();
  top: 3px;
}
#but {
  position: relative;
  display: inline-block;

  width: 180px;
  height: 45px;
  left: 720px;
  top: -13px;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;

  border-radius: 13px;
  background: linear-gradient(#343434, #383838) padding-box,
  linear-gradient(#70FF00, #FFFFFF) border-box;

  border: 4px solid transparent;
  cursor: pointer;
}
#but:hover{
  background: linear-gradient(white, white) padding-box,
  linear-gradient(#70FF00, black) border-box;
  color: #343434;
  /*transform: translateY(5px);*/
}
.table{
  margin: 0;
  position: relative;
  width: 250px;
  height: 100px;
  background: linear-gradient(#343434, #383838) padding-box,
  linear-gradient(120deg,#70FF00, #FFFFFF) border-box;
  border: 4px solid transparent;
  border-radius: 10px;
  left: 1625px;
  top: -5px;
  transition: 2s;
}
.tableElement{
  text-align: center;
  height: 50%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
}
.tableElement:hover {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(#70FF00, black) border-box;
}
#tableElement2{
  position: relative;
  top: -30px;
  border-radius: 0 0 3px 3px;
}
#tableElement1{
  border-radius: 3px 3px 0 0 ;
}
#uShallNotPass{
  width: 250px;
  border-top: 5px solid #70FF00;
  position: relative;
  display: inline-block;
  z-index: 101;
  margin: 0;
  top: -20px;
}

.tableTxt{
  position: relative;
  top: 13px;

}
.tableTxt:hover{
  text-decoration: none;

}
.top {

  height: 1634px;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.Group1{
  height: 50%;
  width: 100%;
}
.Group2{
  height: 50%;
  width: 100%;
}
.circle{
  border-radius: 100%;
}
#circle1{
  width: 50px;
  height: 50px;
  left: 1000px;
  top: -550px;
  display: inline-block;
  position: relative;

  background: #222222;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}
#circle2{
  width: 40px;
  height: 40px;
  left: 450px;
  top: -465px;
  display: inline-block;
  position: relative;

  background: #4F4F4F;
}
#circle3{
  width: 30px;
  height: 30px;
  left: 980px;
  top: -150px;
  display: inline-block;
  position: relative;

  background: #BDBDBD;
}

.skills {
  position: relative;
  width: 100%;
  max-width: 1900px;
  height: 500px;
  top: 0px;
  margin: auto;
  background: #161616;
  display: flex;

}
#skillsTitle{
  position: relative;
  display: inline-block;
  top: -10px;
  left: 115px;
  height: 100px;



  font-weight: bold;
  font-size: 49px;
  line-height: 57px;
}
.images{
}
.images img{
  width: 220px;
}
.skill{
  float: left;
  width: 220px;
  margin: 5px;
}
.skill:hover:nth-child(even){
  transform: translateY(5px);
}
.skill:hover:nth-child(odd){
  transform: translateY(-5px);
}

.projects {
  position: relative;
  top: 0px;
  height: 822px;
  width: 100%;
  max-width: 1900px;
  margin: auto;
}
#projectsTitle{
  position: relative;
  display: inline-block;
  left: 145px;
  top: 0px;

  font-weight: bold;
  font-size: 49px;
  line-height: 57px;
}
.slider-wrap{
  position: relative;
  overflow: hidden;
  height: 345px;
  top: 50px;
}
.slider-main{
 position: absolute;
  width: 200%;
}
.slider-item{
  width: 600px;
  display: inline-block;
  margin: 0 16px;
  border: 1px solid inherit;
}
.cat{
  width: 600px;
  border-radius: 2px;
  /*display: none;*/
}
.button-area{
  position: absolute;
  top: 50%;
  width: 100%;
  width-max: 1900px;
}
.prev{
  position: absolute;
  left: 23px;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 30px;
  height: 60px;
  background: inherit;
  border: none;
}
#arrowLeft{
  width: 30px;
}
#arrowRight{
  width: 30px;
}
.next{
  position: absolute;
  right: 10px;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 30px;
  height: 60px;
  background: inherit;
  border: none;
}
#hope{
  color: #E0E0E0;

  position: relative;
  width: 1100px;
  height: 30px;
  left: 450px;
  top: 100px;

  font-weight: bold;
  font-size: 57px;
  line-height: 67px;

  margin: 0;
  display: inline-block;
  opacity: 0;
  transition: opacity 1s;
}
#hope:hover{
  opacity: 1;
}


.graduate {
  position: relative;
  width: 100%;
  max-width: 1900px;
  height: 1700px;
  margin: auto;
  top: 0px;

  background: #161616;
}

#avatar {
  width: 545px;
  border-radius: 300px;
  box-shadow: 0px 5px 34px 8px rgba(0, 0, 0, 1);
}
#avatar:hover {
  border: 5px groove #70FF00;
}
#avatarLink{
  position: relative;
  left: 1050px;
  top: 0px;
}

.jobTitle {
  color: #E0E0E0;

  position: relative;
  width: 580px;
  height: 67px;
  left: -210px;
  top: 430px;

  font-weight: bold;
  font-size: 57px;
  line-height: 67px;

  margin: 0;
  display: inline-block;
}

.achievement {
  color: #828282;


  font-weight: 400;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
}

.number {
  color: #4F4F4F;

  font-weight: bold;
  font-size: 86px;
  line-height: 101px;
}

#acn1 {
  position: relative;
  width: content-box;
  height: 101px;
  left: -1460px;
  top: 550px;

  margin: 0;
  display: inline-block;
}

#acn2 {
  position: relative;
  width: 157px;
  height: 64px;
  left: -1445px;
  top: 550px;

  margin: 0;
  display: inline-block;

}

#acn3 {
  position: relative;
  width: content-box;
  height: 101px;
  left: -520px;
  top: 550px;

  margin: 0;
  display: inline-block;

}

#acn4 {
  position: relative;
  width: 630px;
  height: 100px;
  left: -512px;
  top: 550px;

  margin: 0;
  display: inline-block;
}

#dopDataTitle {
  position: relative;
  width: 800px;
  height: 46px;
  left: 146px;
  top: 230px;

  font-weight: bold;
  font-size: 49px;
  line-height: 57px;
}

#dataTitle {
  position: relative;
  left: 146px;
  top: 220px;
  width: 1000px;

  color: #F2F2F2;
  font-size: 28px;
  line-height: 34px;
}
#graduateTitle{
  position: relative;
  text-align: center;


  font-weight: bold;
  font-size: 49px;
  line-height: 57px;
}
#tit1{
  /*position: relative;*/
  /*width: 219px;*/
  /*height: 46px;*/
  /*left: 1159px;*/
  /*top: 50px;*/
  position: relative;
  text-align: center;
  font-size: 32px;

}
#tit2{
  /*position: relative;*/
  /*width: 219px;*/
  /*height: 46px;*/
  /*left: 200px;*/
  /*top: 200px;*/
  position: relative;
  text-align: center;
  font-size: 32px;

}
#tit3{
  /*position: relative;*/
  /*width: 219px;*/
  /*height: 46px;*/
  /*left: 1159px;*/
  /*top: 350px;*/
  position: relative;
  text-align: center;
  font-size: 32px;

}
#tit4{
  /*position: relative;*/
  /*width: 219px;*/
  /*height: 46px;*/
  /*left: 200px;*/
  /*top: 500px;*/
  position: relative;
  text-align: center;
  font-size: 32px;
}
.gradText{
  width: 550px;

  font-weight: 300;
  font-size: 28px;
  line-height: 30px;

  color: #FFFFFF;
}
#textTit1{
  position: relative;
  left: 1100px;
  top: 50px;

}
#textTit2{
  position: relative;
  left: 200px;
  top: 120px;

}
#textTit3{
  position: relative;
  left: 1100px;
  top: 150px;

}
#textTit4{
  position: relative;
  left: 200px;
  top: 200px;
}
.Line{
  position: absolute;
  display: inline-block;
  margin-left: 0;
  border-left: 5px solid #70FF00;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 1250px;
  top: 755px;
  z-index: 50;
}
.superCircle{
  position: relative;
  left: 50%;
  z-index: 51;
  box-sizing: border-box;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background: #070707;
  border: 4px solid #70FF00;
}
#superCircle1{
  top: -14px;
}
#superCircle2{
  top: -336px;
}
#superCircle3{
  top: -841px;
}
#superCircle4{
  top: -1242px;
}
