<div class="top">
  <div class="head">
          <div id="prime1">Resume</div>
          <div id="prime2">Landing</div>
<!--          <a href="tel:+79150032717"> +7 (915) 003-27-17</a> <br>-->
<!--          <a href="mailto:bat.pak@mail.ru">bat.pak@mail.ru</a> <br>-->
<!--          <a href="https://github.com/Gertykhan" target="_blank">Github</a> <br>-->
<!--          <a href="https://vk.com/artspiteful" target="_blank">ВКонтакте</a>-->
      <!--    Ну да, а что? Мб друзей хотя бы найду.-->
<!--    <h5>Личные качества:</h5>-->
<!--    <ul>-->
<!--      <li>Ответственность;</li>-->
<!--      <li>Целеустремленность;</li>-->
<!--      <li>Коммуникабельность;</li>-->
<!--      <li>Аналитические способности;</li>-->
<!--      <li>Креативность.</li>-->
<!--    </ul>-->
  </div>
  <div class="Group2">
    <h1>Бобылев Артём Владимирович</h1>
    <div class="jobTitle">Frontend разработчик</div>
    <div class="number" id= "acn3"> 3</div>
    <div class="achievement" id= "acn4"> месяца работы в Информационной безопасности</div>
    <div class="number" id= "acn1"> 22</div>
    <div class="achievement" id= "acn2">Года жизни</div>
  </div>
  <a href="https://t.me/Artspiteful" target="_blank"><img src="./assets/ivseenthis.jpg" alt="Моя фотография" id="avatar"></a>
  <!--  todo настроить переход в тг-->
  <div class="Group1">
    <h3 id="dopDataTitle"> Дополнительные сведения:</h3>
    <p id="dataTitle">В школьные года начал увлекаться программированием начинал с языков: QBasic, Pascal, позже самостоятельно изучал
      C++,
      в университете работал с языками C# и Java. В данный момент обучаюсь на цифровой кафедре по специальности
      «Web-разработчик»,
      где изучаю Python, Javascript. Всю жизнь активно занимался спортом: каратэ, капоэйро, бокс, где выступал на
      соревнованиях и занимал призовые места.
      В этот период, приобрел как опыт работы в команде, так и навыки обучаемости новым профессиям. В 2021 г.,
      пройдя обучение в автошколе, получил водительские права класса «В».
      В 2021 году проходил практику, занимаясь организацией документации ФСТЭКа по системе Zettelcasten в программе
      Obsidian,
      также в 2022 году проходил практику, создавая нейросеть по распознаванию речи.</p>
  </div>
</div>
<div class="skills">
  <h3 id="skillsTitle"> Профессиональные навыки:</h3>
  <div class="images">
    <div class="skill"><img src="./assets/js.png" alt="JS"></div>
    <div class="skill"><img src="./assets/TS.png" alt="TS"></div>
    <div class="skill"><img src="./assets/NG.png" alt="NG"></div>
    <div class="skill"> <img src="./assets/html.png" alt="HTML"></div>
    <div class="skill"> <img src="./assets/css.png" alt="CSS"></div>
    <div class="skill">  <img src="./assets/Pyth.png" alt="Python"></div>
    <div class="skill"><img src="./assets/C++.png" alt="C++"></div>
    <div class="skill">  <img src="./assets/matlab.png" alt="matlab"></div>
  </div>
</div>
<div class="projects">
  <h3 id="projectsTitle">Проектные работы: </h3>
  <ul>
    <li>объектно-ориентированное программирование на тему: «Создание кроссворда на языке C#»;</li>
    <li>электротехника: «Расчет гармонического колебания четырёхполюсника»;</li>
    <li>схемотехника: «Создание источника высоковольтного напряжения».</li>
  </ul>
  <!-- todo Заменить говно на картинки + слайдер-->
</div>
<div class="graduate">
  <h3 id="graduateTitle">Образование</h3>

  <div class="gradText" id="textTit1">
    <h5 id="tit1">Начальное образоание</h5>
    <p>
      С 2007 по 2018 год обучался в ГБОУ СОШ 1240 "Романсовская школа",
      где впервые начал изучать языки программирования. Начиная от Pascal, заканчивая C++.
      Изучение которых продолжил на дополнительных курсах.
    </p>
  </div>

  <div class="gradText" id="textTit2">
    <h5 id="tit2">Неполное высшее</h5>
    <p>
      2018-2025 МГТУ им. Н.Э.Баумана:
      - факультет: «Информационное управление».
      - специальность: «Информационная безопасность».
      - основными в настоящее время является следующие дисциплины:
      Теоретические основы технических разведок, информационно телекоммуникационные системы,
      Криптография, Радиотехника, Акустика.
    </p>
  </div>

  <div class="gradText" id="textTit3">
    <h5 id="tit3">Иностранные языки</h5>
    <p>
      Английский язык - уровень владения Upper Intermediate.
      А также владения французским языком на базовом уровне.
    </p>
  </div>

  <div class="gradText" id="textTit4">
    <h5 id="tit4">Военное образование</h5>
    <p>
      Слушатель программы военной подготовки офицеров запаса на кафедре № 5
      (751100 «Защита информационных технологий»).
    </p>
  </div>
</div>
