/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  position: relative;
  max-width: 1728px;
  height: 4600px;
  /*background-color: #161616;*/
  background: linear-gradient(130.36deg, #000000 0%, #272727 44.03%, #494949 99.99%, #727272 100%);
  font-size: 26px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;


}
